.layoutSidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .layoutSidebar__jsonDropdown{
      flex:0.15;

  }
  .layoutSidebar__jsonObjects{
      flex:0.6;
      
    }
    .layoutSidebar__buttons{
        flex:0.2;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-evenly;
    }
}
