.actionItem__container{
    display: flex;
    padding-left: 20px;
    
    .actionItem__inputTags{
        display: flex;
        
    }
    .actionItem__actions{
        
        display: flex;
    }
}