@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px 3px;
}
.actions__container {
  .actions__texts {
    @include display-flex();
    .actions__icon {
      margin-top: 15px;
    }
  }
  .actions__addedItems {
    margin-top: 20px;
    max-height: 16vh;
    overflow-y: scroll;
  }
}
