.expectedResponseItem__container{
    display: flex;
    padding-left: 20px;
    
    .expectedResponseItem__inputTags{
        display: flex;
        
    }
    .expectedResponseItem__actions{
        
        display: flex;
    }
}